@import "../../styles/variable.less";

.wiux-popup-picker-select-box {
  text-align: right;
}
.wiux-popup-picker-select {
  overflow: hidden;
}
.wiux-popup-picker-select .wiux-cell-value {
  display: inline;
  margin-right: 0;
}
.wiux-popup-picker-container {
  .wiux-popup-header {
    background-color: #fbf9fe;
  }
}
.wiux-picker {
  background-color: #fff;
  padding: 0 15px;
}

.wiux-flexBox {
  display: flex;
  width: 100%;
  text-align: left;
  display: flex;
  display: -webkit-box;
  box-align: center;
  align-items: center;
}
.wiux-flexBox .wiux-flexBox-item {
  flex: 1;
  -webkit-box-flex: 1;
  min-width: 20px;
  width: 0;
}
.wiux-flexBox .wiux-flexBox-item:first-child {
  margin-left: 0 !important;
  margin-top: 0 !important;
}
